div#board_post{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #5e5e5e;
    padding: 1em 1em 1em 1em;
    margin: 5px 5px 5px 5px;
}

div#board_title{
    font-size: 3em;
}

div#board_content{
    padding : 1em 3em 1em 3em;
}


li{
    font-size: 2em;
}