@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);

/*///////////////////////////////
	[프로젝트 변수 선언부]
변수를 사용하시려면 다음과 같이 사용하세요

background-color: var(main-color-light)
///////////////////////////////*/
:root {
	main-color-light: #f59652;
	main-color-middle: #ec8032;
	main-color-strong: #de6a17;
}


/*	사이트 기본 CSS - 변경금지	*/
* {
	-webkit-appearance: none;
	-webkit-user-select : none;
	-moz-user-select    : none;
	-ms-user-select     : none;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans Kannada', sans-serif;
}
body {
	position: absolute;
	height: 1750px;
	width: 100vw;
}
a {
	text-decoration: none;
	color: #000000;
}
main {
	min-height: 80%;
	transform: translate(0, -1.5px);
}
/*	헤더 CSS 변경금지	*/
#header {
	background-color: #EC8032;
	height: 175px;
	width: 100%;
}
#header_menu {
	height: 100%;
}
#header_menu div {
	position: absolute;
	height: 10%;
	width: 20%;
	z-index: 1;
}

#header_menu_btn {
	position: relative;
	height: 40%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#header_menu_logo {
	position: relative;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#header_menu_logo:focus {
	outline: none;
}
#header_sidebar {
	position: fixed;
	height: 1750px;
	width: 60vw;
	z-index: 2;
	top: 350px;
	transform: translate(-60vw, -350px) rotate(.001deg);
	transition: .5s;
	overflow: hidden;
	background-color: #F8F9Fa;
}
#header_sidebar_close {
	height: 6em;
	width: 20%;
	float: right;
}
#header_sidebar_close img {
	position: relative;
	height: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#header_sidebar_user {
	display: flex;
	position: relative;
	height: 300px;
	width: 100%;
	background-color: #adb5bd;
	border-bottom: 3px solid #000000;
}
#header_sidebar_user_icon {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 30%;
	margin-left: 2em;
}
#header_sidebar_user_icon img {
	position: relative;
	height: 160px;
	top: 50%;
	transform: translate(0, -50%);
}
#header_sidebar_user_info {
	height: 100%;
	width: 70%;
	padding-left: 3em;
}
#header_sidebar_user_info div {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	height: 200px;
	width: 100%;
}
#header_sidebar_user_info div span {
	display: block;
	height: 65px;
	width: 100%;
	font-size: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#header_sidebar_user_info div a {
	text-decoration: none;
}
#header_sidebar_user_info div a button {
	display: block;
	height: 70px;
	width: 200px;
	color: #FFFFFF;
	font-size: 40px;
	background-color: #5e5e5e;
	border: 0;
	border-radius: 20px;
}
#header_sidebar_user_info div a button:focus {
	outline: none;
}
#header_sidebar_user_info div a button:hover {
	background: #414141;
}
#header_sidebar_menu {
	width: 100%;
	list-style: none;
}
#header_sidebar_menu a:hover li {
	background-color: #FF0000;
}
#header_sidebar_menu a li {
	display: block;
	height: 2.5em;
	width: auto;
	font-size: 3.5em;
	padding-left: 0.5em;
	line-height: 2.5em;
	background-color: #FFFFFF;
	border-bottom: 1px solid #000000;
}
#header_sidebar_menu a li:hover {
	background-color: #dadada;
}
#header_sidebar_blank {
	display: none;
	position: fixed;
	height: 1750px;
	width: 100vw;
	z-index: 1;
	top: 350px;
	background-color: rgba(0, 0, 0, 0.7);;
	transform: translate(0, -350px);
	transition: .5s;
}
/*main 안쪽*/
.div_pageName{
	width:100%;
}
.h3_pageName{
	text-align: center;
	font-size: 3.5em;
	color: white;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #ffb362;
}

.div_mainDiv{
	padding : 3em;
}

/*	하단 CSS 변경금지	*/
footer {
	display: block;
	height: 10%;
	width: 100%;
	text-align: center;
	background-color: #000000;
}
footer div {
	height: 30%;
	width: 100%;
	padding: 2% 0 2% 0;
}
footer div img {
	height: 100%;
}
footer span {
	display: flex;
	justify-content: center;
	margin: 2% 0 2% 0;
	color: #FFFFFF;
	font-size: 30px;
}