/*	사이트 기본 CSS - 변경금지	*/
* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	width: 100vw;
}

/*	헤더 CSS 변경금지	*/
#main_header {
	background-color: #EC8032;
	height: 20%;
	width: 100%;
}
#main_header_menu {
	height: 50%;
}
#main_header_search {
	display: flex;
	justify-content: center;
	height: 50%;
	width: 100%;
}
#main_header_search_span {
	display: flex;
	height: 60%;
	width: 90%;
	background-color: #FFFFFF;
	border-radius: 20px;
}
#main_header_search_icon {
	height: 100%;
	width: 10%;
}
#main_header_search_icon img {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	height: 85%;
}
#main_header_search_form {
	width: 90%;
}
#main_header_search_form input {
	height: 100%;
	width: 100%;
	font-size: 50px;
	padding-left: 20px;
	border: 0;
	border-radius: 20px;
	padding-left: 20px;
}
#main_header_search_form input:focus {
	outline: none;
}
#main_header_menu_btn {
	position: absolute;
	height: 4%;
	top: 5%;
	transform: translate(50%, -50%);
}
#main_header_menu_logo {
	position: relative;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#header {
	height: 30%;
	width: 100%;
	background-color: #ffa74e;
}
#header_menu {
	height: 33.3%;
	background-color: #FFFFFF;
}
#header_menu span {
	display: table;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
}
#header_sidebar {
	position: absolute;
	height: 100vh;
	width: 60vw;
	z-index: 1;
	transform: translate(-60vw, -20%);
	transition: 1s;
	background-color: #ff6b00;
}
#header_sidebar_blank {
	position: absolute;
	height: 100vh;
	width: 40vw;
	z-index: 1;
	transform: translate(60vw, -20%);
}

/*	하단 CSS 변경금지	*/
footer {
	display: block;
	height: 15%;
	width: 100%;
	text-align: center;
	background-color: #007f66;
}
footer div {
	height: 30%;
	width: 100%;
	padding: 2% 0 2% 0;
}
footer div img {
	height: 100%;
}
footer span {
	display: flex;
	justify-content: center;
	margin: 2% 0 2% 0;
	color: #FFFFFF;
	font-size: 30px;
}