/*div- class = “div_pageName” */
/*             h3- id = “h3_pageName”*/


.div_pageName{
    width:100%;
}
.h3_pageName{
    text-align: center;
    font-size: 3.5em;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #ffb362;
}

.div_mainDiv{
    padding : 3em;
}