/*///////////////////////////////
	[프로젝트 변수 선언부]
변수를 사용하시려면 다음과 같이 사용하세요

background-color: var(main-color-light)
///////////////////////////////*/
:root {
	main-color-light: #f59652;
	main-color-middle: #ec8032;
	main-color-strong: #de6a17;
}


/*	사이트 기본 CSS - 변경금지	*/
* {
	-webkit-appearance: none;
	margin: 0;
	padding: 0;
}
body {
	position: absolute;
	height: 1750px;
	width: 100vw;
	font-family: "Nanum Gothic", serif;
}
main {
	min-height: 70%;
}
/*	헤더 CSS 변경금지	*/
#main_header {
	background-color: #EC8032;
	height: 350px;
	width: 100%;
}
#main_header_menu {
	height: 50%;
}
#main_header_menu div {
	position: absolute;
	height: 10%;
	width: 20%;
}

#main_header_menu_btn {
	position: relative;
	height: 40%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main_header_menu_logo {
	position: relative;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main_header_search {
	display: flex;
	justify-content: center;
	height: 50%;
	width: 100%;
}
#main_header_search_span {
	display: flex;
	height: 60%;
	width: 90%;
	transition: 0.5s;
	background-color: #FFFFFF;
	border-radius: 20px;
}
#main_header_search_form {
	position: relative;
	height: 99%;
	width: 90%;
	top: 1%;
}
#main_header_search_form input {
	position: relative;
	height: 100%;
	width: 100%;
	font-size: 40px;
	border: 0;
	letter-spacing: -0.05em;
	left: 30px;
}
#main_header_search_form input:focus {
	outline: none;
}
#main_header_search_icon {
	height: 100%;
	width: 15%;
}
#main_header_search_icon img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 85%;
}
#header {
	height: 30%;
	width: 100%;
	background-color: #ffa74e;
}
#header_menu {
	height: 33.3%;
	background-color: #FFFFFF;
}
#header_menu span {
	display: table;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
}
#header_sidebar {
	position: fixed;
	height: 1750px;
	width: 60vw;
	z-index: 2;
	top: 350px;
	transform: translate(-60vw, -350px) rotate(.001deg);
	transition: .5s;
	overflow: hidden;
	background-color: #F8F9Fa;
}
#header_sidebar img {
	height: 50px;
	float: right;
	transform: translate(-50%, 50%);
}
#header_sidebar_user {
	display: flex;
	position: relative;
	height: 300px;
	width: 100%;
	margin-top: 6em;
	background-color: #adb5bd;
	border-bottom: 3px solid #000000;
	padding-left: 15px;
}
#header_sidebar_user_icon {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 30%;
}
#header_sidebar_user_icon img {
	position: relative;
	height: 160px;
	top: 50%;
	transform: translate(0, -70%);
}
#header_sidebar_user_info {
	height: 100%;
	width: 70%;
}
#header_sidebar_user_info div {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	height: 200px;
	width: 100%;
}
#header_sidebar_user_info div span {
	display: block;
	height: 65px;
	width: 100%;
	font-size: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#header_sidebar_user_info div button {
	display: block;
	height: 70px;
	width: 200px;
	color: #FFFFFF;
	font-size: 40px;
	background-color: #5e5e5e;
	border: 0;
	border-radius: 20px;
}
#header_sidebar_blank {
	display: none;
	position: fixed;
	height: 1750px;
	width: 100vw;
	z-index: 1;
	top: 350px;
	background-color: rgba(0, 0, 0, 0.7);;
	transform: translate(0, -350px);
	transition: .5s;
}

/*	하단 CSS 변경금지	*/
footer {
	display: block;
	height: 15%;
	width: 100%;
	text-align: center;
	background-color: #007f66;
}
footer div {
	height: 30%;
	width: 100%;
	padding: 2% 0 2% 0;
}
footer div img {
	height: 100%;
}
footer span {
	display: flex;
	justify-content: center;
	margin: 2% 0 2% 0;
	color: #FFFFFF;
	font-size: 30px;
}