#main {
	height: auto;
	width: 100%;
}
#main_search {
    display: flex;
    justify-content: center;
    height: 175px;
    width: 100%;
	-webkit-user-select : auto;
	background-color: #EC8032;
}
#main_search_span {
    display: flex;
    height: 60%;
    width: 90%;
    transition: 0.5s;
    background-color: #FFFFFF;
    z-index: 2;
    border-radius: 20px;
}
#main_search_form {
    position: relative;
    height: 99%;
    width: 90%;
    top: 1%;
}
#main_search_form input {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 40px;
    border: 0;
    letter-spacing: -0.05em;
    left: 30px;
}
#main_search_form input:focus {
    outline: none;
}
#main_search_icon {
    height: 100%;
    width: 15%;
}
#main_search_icon img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
}
#search_blank {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translate(0, -175px);
    z-index: 1;
}
#main_head {
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 30%;
	overflow: hidden;
}
#main_head div {
	display: flex;
	position: relative;
	height: 100%;
	width: 300%;
	transition: 1s;
}
#main_head div img {
	display: inline;
	height: 100%;
	width: 100%;
}
#main_content {
	display: flex;
	justify-content: center;
	height: 40%;
	width: 100%;
	background-color: #F2F2F2;
}
#main_content article {
	position: relative;
	height: 70%;
	width: 90%;
	margin-top: 5em;
}
#main_content_header {
	display: flex;
	height: 20%;
	width: 100%;
	border-bottom: 5px solid #808080;
}
#main_content_header span {
	display: table;
	position: relative;
	width: 85%;
	top: 50%;
	margin-left: 2%;
	transform: translate(0, -50%);
	font-size: 55px;
}
#main_content_header img {
	position: relative;
	float: right;
	height: 80px;
	width: 80px;
	top: 50%;
	transform: translate(0, -50%);
	margin-right: 2%;
}
#main_content_content {
	height: 80%;
	width: 100%;
}
#main_content_content ul {
	height: 100%;
	width: 100%;
	list-style: none;
}
#main_content_content ul li {
	display: flex;
	font-size: 50px;
	padding: 2% 0 2% 0;
	border-bottom: 3px solid #808080;
}
#main_content_content ul li a {
    display: flex;
    height: 1.5em;
    width: 100%;
    z-index: 1;
	overflow: hidden;
}
#main_content_content ul li a .main_content_title {
	width: 65%;
	padding-left: 2%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#main_content_content ul li a .main_content_date {
	width: 35%;
    line-height: 2em;
	text-align: center;
}