.title{
    text-align: center;
    font-size: 3em;
    padding-bottom: 50px;
}

.main_content{
    width: 100%;
    height: 20%;
    margin-bottom: 0px;
}

.circle{
    float: left;
    background-color: #eeeeee;
    width:25%; height: 60%;
    border-radius:100%;
    margin:0;
    font-size:3em;
    color:#212529;
    text-align: center;
    vertical-align:middle;
    line-height:30%;
    margin: 50px 30px 0px 30px;
}

.circle_content{
    float: left;
    margin: 0px 35px 100px 35px;
    font-size: 3em;

    width: 25%;
    height: 20%;
    text-align: center;
}

.etc{
    margin: 3em 0em 3em 4em;
}

.etc li {
    font-size: 2.6em;
}

.memo{
    font-size: 2.6em;
    padding-left : 0.5em;
    padding-bottom : 30px;
    width: 100%;
}

p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr {
    position: relative;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #aaaaaa solid 1px;
}

ul{
    margin-bottom: 0.5em;
}

.button_wrapper{
    float: left;
    width: 50%;
}

/* 게스트일 때 사용할 거*/
.button_guest{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2em;
    margin-top: 70px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 20%;
}

/* 작성자일 때 볼 거 */

.button_writer{
    position: relative;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);

    font-size: 2em;
    margin-top: 70px;
    margin-right: 10%;
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 20%;
}