#write_area{
    width: 100%;
}

#posting{
    padding-top: 1em;
    font-size: 3em;
}

input{
    width: 80%;
    /*margin-bottom: 5px;*/
    font-size: 1em;
}

button{
    width: 80%;
    font-size: 3em;
    width: 4em;
    padding: 20px;
}

.date{
    width: 35%;
}

div.content{
    padding: 30px 50px;
}

ul{
    list-style:none;
    text-align: center;
}

li{
    margin-bottom: 0.7em;
}

select{
    width: 70%;
    font-size: 0.7em;
    text-align: center;
}

select > option{
    font-size: 0.7em;
}

hr {
    position: relative;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #aaaaaa solid 1px;
}

textarea{
    font-size: 1.5em;
    width: 100%;
    height: 30%
}

/*.submit{*/
/*    width: 4em;*/
/*    padding: 20px;*/
/*}*/

/*.cancel{*/
/*    width: 4.5em;*/
/*    padding: 20px;*/
/*}*/




